<div class="container center-div">
    <h1 class="text-center">Email confirmed</h1>
    <h2 class="text-center">Now you can sign in</h2>
    <h1><%= link_to "Go to sign in", :sign_in, class: "btn btn-success btn-lg", method: :get %></h1>
</div>